<section class="ss_index_one">
    <!--===== Section One Start =====-->
    <div class="container-fluid">
        <div class="ss_header">
            <!--===== Top Menu =====-->
            <div class="row">
                <div class="col-lg-3 col-md-7 col-sm-12 col-12 align-self-center">
                    <div class="ss_logo">
                        <a href="index.html"><img class="img-fluid" src="~/Content/assets/images/logo/Logo.png" alt="logo" /></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-5 col-sm-12 col-12 align-self-center">
                    <div class="ss_menu">
                        <ul>
                            <li class="ss_menuP">
                                Home
                                <ul class="ss_subMenu">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index2.html">Home 2</a></li>
                                    <li><a href="index3.html">Home 3</a></li>
                                    <li><a href="index4.html">Home 4</a></li>
                                </ul>
                            </li>
                            <li><a href="trade-show.html">Trade Shows</a></li>
                            <li><a href="pv-industry.html">Pv Industry</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="service.html">Services</a></li>
                            <li class="ss_menuP">
                                Pages
                                <ul class="ss_subMenu">
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="404-page.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                        <div class="head_icon">
                  
                            <div class="ss_search_main">
                                <svg class="ss_search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.213 485.213">
                                    <g>
                                        <path d="M471.882,407.567L360.567,296.243c-16.586,25.795-38.536,47.734-64.331,64.321l111.324,111.324
											c17.772,17.768,46.587,17.768,64.321,0C489.654,454.149,489.654,425.334,471.882,407.567z" />
                                        <path d="M363.909,181.955C363.909,81.473,282.44,0,181.956,0C81.474,0,0.001,81.473,0.001,181.955s81.473,181.951,181.955,181.951
											C282.44,363.906,363.909,282.437,363.909,181.955z M181.956,318.416c-75.252,0-136.465-61.208-136.465-136.46
											c0-75.252,61.213-136.465,136.465-136.465c75.25,0,136.468,61.213,136.468,136.465
											C318.424,257.208,257.206,318.416,181.956,318.416z" />
                                        <path d="M75.817,181.955h30.322c0-41.803,34.014-75.814,75.816-75.814V75.816C123.438,75.816,75.817,123.437,75.817,181.955z" />
                                    </g>
                                </svg>
                                <form class="ss_search_input">
                                    <input type="text" placeholder="Search here" />
                                </form>
                            </div>
                            <div class="ss_menu_bar">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a href="signup.html" class="white_btn">SignUp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> <!--===== Section One End =====-->
